.navbar-section{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding-top:50px;
    border-bottom:2px solid #285D5E;
    
}

.navbar-container{
    list-style-type:none;
    display:flex;
    flex-direction:row;
}

.navbar-items{
    color:#285D5E;
    margin:30px;
}

.nav-items{
    font-size:18px;
}

.search-bar-container{
    background-color:white;
    border:1px solid #285D5E;
    margin-right:10px;
    width:200px;
    border-radius:10px;
    display:flex;
    flex-direction:row;
    justify-content:end;
    align-items:center;
    padding-right:10px;
}

.search-bars {
    background-color:white;
    border:1px solid #285D5E;
    margin-right:10px;
    width:150px;
    border-radius:10px;
    font-size:20px;
    padding-right:10px;
    border:none;
    outline:none;
}

.search-bar-button-container {
    display:flex;
    flex-direction:row;
    
}


.navbar-button{
    background-color:#285D5E;
    border-radius:10px;
    border:none;
    width:150px;
    height:50px;
    color:white;
    font-size:16px;
    margin-right:50px;
}